body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f3f3f3 ;
}
.container{
    display: inline-block;
    text-align: center;
    border-radius: 13px;
    border: 1px solid #7B1FA2;
    margin-top: 80px;
    margin-left: 400px;  
}
.section-divd{
    display: flex;
    justify-content: space-between;   
}
.section-left{
    display: block;
    padding: 100px 35px;
    position: relative;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    border-right: 1px solid white;
    background-color: #7B1FA2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
}
.section-welcome h2{
    font-size: 30px;
    cursor: pointer;
}
.section-welcome p{
    font-size: 14px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.section-btn{
    background: transparent;
    border-radius: 13px;
    font-size: 12px;
    color: white;
    border:  1px solid white;
    padding: 5px 20px;
    cursor: pointer;
}
.section-btn:hover{
    background-color: #FFFFFF;
    color: #7B1FA2;
    transition: 1s;  
}

.section-right{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.section-redes{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.section-redes h2{
    color: #7B1FA2;
    font-size: 30px;
}
.section-redes p{
    font-size: 8px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.section-redes .fab{
    font-size: 28px;
    padding: 10px;
    color: rgb(163, 163, 163);
}
.section-redes .fab:hover{
    color: #7B1FA2;
}

.section-label-name{
    color: rgb(163, 163, 163);
}
.section-label-name input{
    padding: 2px;
    width: 220px;
    margin: 6px;
    border: solid rgba(136, 136, 136, 0.0);
    background-color:rgba(136, 136, 136, 0.267) ;
    border-radius: 2px;
    height: 16px;
    color: black;
    font-size: 12px;
}
input::placeholder{
    background-color: transparent;
}
.btn{
    display: block;
    background: #7B1FA2;
    border-radius: 13px;
    font-size: 12px;
    color: white;
    border:  1px solid ; 
    padding: 5px 10px;
    margin-top: 15px ;
    cursor: pointer;
    width: 50%;
    margin-left: 28%;
}
.btn:hover{
    background-color:white ;
    color: #7B1FA2;
    transition: 1s;
}