body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f3f3f3 ;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-divd{
    display: flex;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 13px;
}
.section-left{
    background-color: #141E30;
    width: 100%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.section-welcome h2{
    color: white;
    font-size: 36px;
    padding:25px 40px ;
}
.section-welcome p{
    font: 20px;
    padding: 5px 2px;
    color: #5c5454;
}
.section-btn{
    color: white;
    background-color: #141E30;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 13px;
    cursor: pointer;
    margin: 15px;
}

.section-btn:hover{
    background-color: white;
    color: #141E30;
}

/*LADO ESQUERDO FINALIZADO ACIMA*/

.section-right{
    justify-content: center;
    padding: 2px 35px;
    
}
.section-right h2{
    color: #141E30;
    font-size: 36px;
    display: block;
    width: 100%;
}
.section-right p{
    color: #141E30;
    font-size: larger;
}
.section-redes .fab{
    font-size: 30px;
    padding: 0 10px;
    color: #141E30;
}
.section-redes .fab:hover{
    color:#5c5454 ;
    transition: all 1s;
}
.section-label-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color:#141E30;
    width: 100%;
    padding-top: 10px;
}
.section-label-name i {
    padding-right: 5px;
    font-size: 18px;
}
input{
    width: 200px;
    height: 18px;
}
.btn{
    background-color: #141E30;
    color: white;
    padding: 5px 10px;
    border-radius: 13px;
    cursor: pointer;
    margin: 20px;
    border: 1px solid #141E30;
}
.btn:hover{
    background-color: white;
    color: #141E30;
}
